<form class="example-form" [formGroup]="geocoding">
  <p>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Single Line Address" aria-label="Single Line Address" formControlName="address">
    </mat-form-field>
  </p>
  <table>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Country" aria-label="Country" formControlName="country">
        </mat-form-field>
      </td>
      <td>
      </td>
      <td>
        <button mat-raised-button color="primary" (click)="geocode()">Submit</button>
      </td>
    </tr>
  </table>
  <br/>

  <mat-progress-bar mode="indeterminate" *ngIf="downloading"></mat-progress-bar>
  Request:
  <pre *ngIf="!downloading">{{geoRequest | json }}</pre>
  Response:
  <pre *ngIf="!downloading">{{geoResponse | json }}</pre>
</form>
