<form class="example-form" [formGroup]="restrictedArea">
  <p>
  <md-form-field class="example-full-width">
    <input mdInput placeholder="Single Line Address" aria-label="Single Line Address" formControlName="address">
  </md-form-field>
  </p>
  <table>
    <tr>
      <td>
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Country" aria-label="Country" formControlName="country">
        </md-form-field>
      </td>
      <td>
  <md-form-field class="example-full-width">
    <input mdInput type="number" placeholder="Latitude(Y)" aria-label="Latitude(Y)" formControlName="latitude">
  </md-form-field>
      </td>
      <td>
  <md-form-field class="example-full-width">
    <input mdInput type="number" placeholder="Longitude(X)" aria-label="Longitude(X)" formControlName="longitude">
  </md-form-field>
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <td>
        <md-form-field class="example-full-width">
          <input mdInput type="number" placeholder="Distance" aria-label="Distance" formControlName="distance">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Distance Unit" aria-label="Distance Unit" formControlName="distanceUnits">
        </md-form-field>
      </td>
    </tr>
  </table>
  <br />

  <md-progress-bar mode="indeterminate" *ngIf="downloading"></md-progress-bar>
  <pre *ngIf="!downloading">{{geoResponse | json }}</pre>
</form>
