<form class="example-form" [formGroup]="geocodingCtrlGrp">
  <table>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput type="number" placeholder="Latitude(Y)" aria-label="Latitude(Y)" formControlName="latitude">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput type="number" placeholder="Longitude(X)" aria-label="Longitude(X)"
                 formControlName="longitude">
        </mat-form-field>
      </td>
      <td>
        <button aria-label="Near Me" mat-icon-button (click)="setCurrentPosition()">
          <mat-icon>near_me</mat-icon>
        </button>
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Country" aria-label="Country" formControlName="country">
        </mat-form-field>
      </td>
      <td>
      </td>
      <td>
        <button mat-raised-button color="primary" (click)="geocode()">Submit</button>
      </td>
    </tr>
  </table>
  <br/>

  <mat-progress-bar mode="indeterminate" *ngIf="downloading"></mat-progress-bar>
  Request:
  <pre *ngIf="!downloading">{{geoRequest | json }}</pre>
  Response:
  <pre *ngIf="!downloading">{{geoResponse | json }}</pre>
</form>
