<form class="example-form">
  <md-form-field class="example-full-width">
    <input mdInput placeholder="State" aria-label="State" [mdAutocomplete]="auto" [formControl]="stateCtrl">
    <md-autocomplete #auto="mdAutocomplete">
      <md-option *ngFor="let cand of candidates" [value]="cand.formattedStreetAddress + ' ' +cand.formattedLocationAddress">
        <span>Postcode:{{ cand.address.postCode1 }}</span>
        <small>Street:{{cand.formattedStreetAddress}}</small>
      </md-option>
    </md-autocomplete>
  </md-form-field>

  <br />

  <mat-slide-toggle
    [(ngModel)]="toggleJson"
    name="toggle">
    Show full response?
  </mat-slide-toggle>

  <pre *ngIf="toggleJson" >{{geoResponse | json }}</pre>
</form>
